
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: "Cherry Bomb One", system-ui;
}
p, a, button {
    font-family: "Sour Gummy";
}
h1, h2 {
    font-size: 2.25rem;
    color: rgb(86, 159, 255);
    letter-spacing: 0.2rem;
}
header {
    background-color: rgb(76, 145, 201);
}
.hero {
    height: 60vh;
    background-color: rgb(86, 159, 255);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.hero h1 {
    text-align: center;
    padding-top: 6rem;
    color:  rgb(255, 207, 153);
    font-size: 5rem;
    font-weight: 300;
}
.hero p {
    text-align: center;
    color: white;
    word-spacing: 0.5rem;
}

button {
    background-color: rgb(76, 145, 201);
    display:flex;
    margin: 2rem auto 1rem auto;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}
button a {
    color: white;
    text-decoration: none;
}
button:hover {    
    transform: scale(1.1);
    transition: all 0.3s ease;

}
header {
    display: flex;
    align-items: center;
    justify-content:space-around;position: sticky;
    top: 0;
    z-index: 1000;
}
header h1 {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    color: white;
    padding: 1rem;

}
body {
    background-color: rgb(255, 207, 153);
}
main {
    margin-right: 5%;
    margin-left: 5%;
}
article {
    padding: 3rem 1rem;
}
.quiz {
    font-family: "Sour Gummy", sans-serif;
}

fieldset {
    border: none;
}
.quiz-question {
    margin: 2rem 0;
    font-size: 1.5rem;
}
legend {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 1rem;
}
.quiz-question label {
    margin: 1.5rem;
}
label:hover {
    color: rgb(86, 159, 255);
    transition: all 0.3s ease;
}